astor==0.8.1
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
contextlib2==0.5.5
coverage==5.0.3
cycler==0.10.0
decorator==4.4.2
future==0.18.2
hyperopt==0.1.2
idna==2.9
joblib==0.14.1
json-tricks==3.14.0
kiwisolver==1.1.0
matplotlib==3.2.0
networkx==2.4
nni==1.4
numpy==1.18.1
pandas==1.0.2
psutil==5.7.0
pymongo==3.10.1
pyparsing==2.4.6
python-dateutil==2.8.1
PythonWebHDFS==0.2.3
pytz==2019.3
requests==2.23.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
schema==0.7.1
scikit-learn==0.21.3
scipy==1.4.1
seaborn==0.10.0
simplejson==3.17.0
six==1.14.0
sklearn==0.0
tqdm==4.43.0
urllib3==1.25.8
